ProjectBuilder/projects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project_types">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="project_type">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="text_field">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="content" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="folder_field">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="content" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="file_field">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="content" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="templates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="file_text_replacement">
                      <xs:complexType>
                        <xs:attribute name="extension" type="xs:string" use="required" />
                        <xs:attribute name="target_string" type="xs:string" use="required" />
                        <xs:attribute name="source_field" type="xs:string" use="required" />
                        <xs:attribute name="text_style" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="folder" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="symlinks">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="symlink">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="target_path" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="execute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="program">
                      <xs:complexType>
                        <xs:attribute name="path" type="xs:string" use="required" />
                        <xs:attribute name="args" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>